body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 100%;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 60%;
    position: fixed;
    left: 40%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

td a {
    color: black;
}

td a:hover {
    color: greenyellow;
}

.form {
    margin-top: 20px;
    position: fixed;
    top: 50px;
    left: 0;
}

#content, #eps, #sns, #prog {
    padding: 2px;
    width: 17%;
    border-radius: 5px;
    background-color: rgb(37,37,37);
    color: white;
    font-family: Arial black;
    border: 1px solid greenyellow;
    text-align: center;
}

#add_btn {
    width: 100px;
    background-color: rgb(37,37,37);
    color: white;
    font-family: Arial black;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid greenyellow;
}

h1 {
    font-family: Arial black;
    background-color: rgb(37,37,37);
    width: 100%;
    color: white;
    position: relative;
    text-align: center;
    top: 0;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid greenyellow;
}

h4 {
    width: 100%;
    font-family: Arial black;
    text-align: center;
    top: -20px;
    position: relative;

}